html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--cor1);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.veaqui {
    color: var(--cor1);
}

#title {
    width: 100%;
    position: absolute;
    padding: 0px;
    margin: 0px auto;
    text-align: center;
    font-size: 27px;
    color: var(--cor4);
    font-family: 'Open Sans', sans-serif;
    z-index: 9999;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), -1px 0px 2px rgba(255, 255, 255, 0);
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #205373 50%, #c4e1f2 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}

.menu {
    position: fixed;
    font-size: 80%;
    width: 100%;
    background-color: rgba(93, 138, 155, 1);
    padding: 0px 50px;
    box-sizing: border-box;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    font-weight: 0;
    
}

.logo {
    float: left;
    width: 18%;
    padding-left: 2%;
}

.dropbtn {
    display: none;

}

.dropdown-content {
    display: inline;
}

/*.dropdown-content button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 16px;
    border: none;
    border-radius: px;
    margin-left: 70px;
    background-color: rgba(238, 225, 202, 0.78);
    font-weight: 600;
}*/

.dropdown-content a:hover {
    color: #c4e1f2;
    text-decoration: underline;
}

.dropdown-content a {
    cursor: pointer;
    text-decoration: none;
    color: var(--cor4);
    font-size: 16px;
    padding: 20px;
    display: inline-block;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content ul li {
    display: inline;
}

.line {
    width: 100%;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 5px;
    counter-increment: '';
    margin: 0 auto;
    z-index: 0;
}

.bar li {
    cursor: pointer;
    list-style-type: none;
    float: left;
    width: 10%;
    color: var(--cor1);
    position: relative;
    text-align: center;
    letter-spacing: 2px;
}

.bar li:before {
    content: '';
    width: 20px;
    height: 20px;
    /*line-height: 40px;
    border: 4px solid var(--cor2);
    display: block;
    text-align: center;
    margin: 10px auto 10px auto;
    border-radius: 50%;*/
    background-color: var(--cor1);
    letter-spacing: 0px;
}

.bar li img {
    padding-bottom: 0px;
    margin: -6% 18%;
    border-radius: 50%;
    width: 80px;
    border: 4px solid var(--cor2);
    height: 80px;
    line-height: 80px;
    z-index: 0;
    float: left;
}

.bar li:after {
    content: '';
    letter-spacing: 2px;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--cor2);
    top: 35px;
    left: -55%;
    z-index: -1;
}


.bar li img:hover,
.bar li img:focus {
    margin: -17px 1px 20px auto;
    border-radius: 50%;
    padding-bottom: 0px;
    transform: translateX(25px) scale(1.5);
}

/*.bar li div{
    padding-bottom: 0px;
    margin: 0 24%;
    border-radius: 50%;
    width: 0px;
    height: 0px;
    line-height: 80px;
    z-index: 0;
    float: left;
    border: 32px solid #b19671;
}*/

.modal {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.modal-content {
    background-color: var(--cor4);
    padding: 16px 24px;
    width: 80%;
    height: 60%;
    border-radius: 0.5rem;
    text-align: center;

}

.modal-content div {
    display: flex;
}

.exit {
    float: right;
    width: 24px;
    cursor: pointer;
    border-radius: 1rem;
    text-align: center;
    line-height: 24px;
    background-color: lightgray;
}

.exit:hover {
    background-color: darkgray;
}

.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.carrossel {
    font-size: 80%;
    width: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
    /*padding: 20px 60px 30px 40px;*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-top: 90px;
    display: flex;
    align-items: center;
    height: 400px;
}

.carrossel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.carrossel-open:checked+.carrossel-item {
    position: static;
    opacity: 1;
}

.carrossel-item {
    position: fixed;
    padding: 10%;
    opacity: 0;

}

.carrossel-item p {
    font-size: 16px;
}

.carrossel-item h1 {
    font-size: 20px;
}

.carrossel-item button {
    cursor: pointer;
    width: 100px;
    height: 30px;
    font-size: 16px;
    position: fixed;
    border-radius: 20px;
    background-color: var(--cor2);
    font-weight: 600;
    color: var(--cor4);
}


.carrossel-control {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 50%;
    color: var(--cor4);
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
}

.carrossel-control.prev {
    left: 2%;
}

.carrossel-control.next {
    right: 2%;
}

.carrossel-control:hover {
    background: rgba(0, 0, 0, 0.8);
    color: #aaaaaa;
}

#carrossel-1:checked~.control-1,
#carrossel-2:checked~.control-2,
#carrossel-3:checked~.control-3 {
    display: block;
}



.er {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    left: 0;
    right: 0;
    top: 80%;
    text-align: center;
    z-index: 1;
}

.carrossel-indicators li {
    display: inline-block;
    margin: 0 5px;
}

.carrossel-bullet {
    color: var(--cor2);
    cursor: pointer;
    display: block;
    font-size: 75px;
}

.carrossel-bullet:hover {
    color: var(--corTest);
}

#carrossel-1:checked~.control-1~.carrossel-indicators li:nth-child(1) .carrossel-bullet,
#carrossel-2:checked~.control-2~.carrossel-indicators li:nth-child(2) .carrossel-bullet,
#carrossel-3:checked~.control-3~.carrossel-indicators li:nth-child(3) .carrossel-bullet {
    color: var(--cor2);
}


.rodape {
    position: initial;
    bottom: 0;
    font-size: 80%;
    width: 100%;
    background-color: var(--cor6);

    padding: 0px 40px;
    box-sizing: border-box;
    margin-top: auto;
    display: grid;
    height: 5%;
}
.ajuste-rodape{
    margin-top: 20px;
    display:flex;
}
.politica {
   /* margin-top: 20px; */
   margin-bottom:0px;
   display: flex;
   list-style: disc;
   justify-content: space-evenly;
   align-content: flex-end;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: flex-end;
}
.politica a {
    font-size: 14px;
    color: var(--cor4);
    padding: 5px;
    text-decoration: none;
}

.politica a:hover {
    cursor: pointer;
    color: var(--corTest);
    transition: all 0.3s ease;
}

.linha {
    width: 100%;
    border-bottom: 2px solid var(--cor4);
    padding-top: 0px;
    margin-top: 1%;
}

.cont {
    height: 80%;
    width: 90%;
}

.cont p {
    font-size: 14px;
    color: var(--cor4);
    margin: 0px auto;
}

.dir {
    text-align: center;
}

/*Aba Contato */
.container {
    background: var(--cor4);
    border-radius: 6px;
    margin-top: 90px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

}

.container .con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .con .left-side {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}

.con .left-side::before {
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #98857E;
}

.con .left-side .details {
    margin: 14px;
    text-align: center;
}

.con .left-side .details i {
    font-size: 30px;
    color: var(--cor6);
    margin-bottom: 10px;
}

.con .left-side .details .topic {
    font-size: 18px;
    font-weight: 500;
}

.con .left-side .details .text-one,
.con .left-side .details .text-two {
    font-size: 14px;
    color: #afafb6;
}

.container .con .right-side {
    width: 75%;
    margin-left: 75px;
}

.con .right-side .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: var(--cor6);
}

.right-side .input-box {
    height: 50px;
    width: 100%;
    margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
}

.right-side .message-box {
    min-height: 110px;
}

.right-side .input-box textarea {
    padding-top: 6px;
}

.right-side .button {
    display: inline-block;
    margin-top: 12px;
}

.right-side .button input[type="submit"] {
    color: var(--cor4);
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: var(--cor6);
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input[type="submit"]:hover {
    background: #5c8faf;
}

/* aba sobre nós */

.img-sobre {
    text-align: center;
    margin-top: 90px;
}

.img-sobre img {
    height: 400px;
}

.fotos {
    display: flex;
    margin-top: -4%;
    justify-content: space-evenly;
    transition: transform 1s;

}

/* EFEITO PARA A IMAGEM SALTAR QUANDO PASSAMOS O MOUSE */
.fotos .desc-kaliny:hover,
.fotos .desc-kaliny:focus {
    transform: translateX(10px) scale(1.2);
}

.fotos .desc-dany:hover,
.fotos .desc-dany:focus {
    transform: translateX(10px) scale(1.2);
}

/* FIM efeito */

.paragrafo {
    text-align: justify;
    letter-spacing: 0.8px;
}

.test-desc-fotos {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.seg-img-sobre {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 30px;
    z-index: 0;
}

.seg-img-sobre img {
    height: 80px;
}

.tabela {
    color: var(--cor2);
    font-size: 17px;
    width: 55%;
    display: flex;
    margin: auto;
    margin-bottom: 3%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.f4 {
    display: flex;

}

.f4 p {
    margin: 0;
    padding-left: 15px;
}

.tutorial {
    position: relative;
    padding: 0;
    left: 0;
    top: 10%;
    width: 100%;
    height: 37%;
    display: flex;
    margin-top: 90px;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}

.conteudo-tuto {
    color: var(--cor4);

}

.tutorial-content {
    background-color: rgba(81, 100, 117, 0.5);
    padding: 16px 24px;
    width: 40%;
    
    height: 60%;
    border-radius: 0.5rem;
    text-align: center;
   
}

.tutorial-content div {
    display: block;
}

.exits {
    float: right;
    width: 24px;
    cursor: pointer;
    border-radius: 1rem;
    text-align: center;
    line-height: 24px;
    background-color: lightgray;
}

.exits:hover {
    background-color: darkgray;
}

.show-tutorial {
    width: 100%;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

/*teste quiz*/

/* ESSA PARTE ESTÁ BUGANDO AS OUTRAS
* {
    box-sizing: border-box;
  }
   
  body {
    background-image: linear-gradient(to right, var(--cor1), #facb7b);
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }*/

.quiz-container {
    background-color: var(--cor4);
    border-radius: 15px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 1090px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 90px;
    width: 70%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

}

.quiz-header {
    padding: 4rem;
}

h2 {
    /*padding: 1rem;*/
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 1.1rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

#submit {
    background-image: linear-gradient(to right, var(--cor2), var(--cor2));
    color: var(--cor4);
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: inherit;
    padding: 1.3rem;
    font-weight: bold;
}

#submit:hover {
    background-color: #732d91;
}

#submit:focus {
    outline: none;
    background-color: #5e3370;
}